@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* font-family: 'Abel', sans-serif; */
    vertical-align: baseline;
    background: transparent;
}

table {
   width: 100%; 
}

.heading {
    background-color: black;
    color: white;
    font-size: 2.5em;
}

.title {
    display: inline-block;
    margin-left: 0.2em;
    height: 0.2em;
}

.titleTime {
    display: inline-block;
    float: right;
    margin-right: 0.2em;
    height: 0.2em;
}

/* .departure {
    display: block;
    padding-left: 0.2em;
    font-size: 2.8em;
    width: 100%;
    height: 1.8em;
    padding-top: 0.2em;
    border: 2px solid #eaeaea;
    margin-bottom: 0.05em;
    
}

.route_id {
   width: 2.3em;
   color: white;
   font-weight: bold;
   background-color:#800000;
   text-align: center; 
   border: 1px solid #800000;
   border-radius: 0.2em;
}

.long_name {
    padding-left: 20rem;
    color: #313131;
}


.departure_time {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    color: #313131;
} */

.departure {
    background-color: white;
    display: block;
    padding-left: 0.2em;
    font-size: 2.8em;
    width: 99.1%;
    text-align: center;
    height: 1.6em;
    padding-top: 0.2em;
    border: 2px solid #eaeaea;
    border-radius: 0.1em;
    margin-bottom: 0.01em;
    
}

.route_id {
   float: left;
   width: 2.3em;
   color: white;
   font-weight: bolder;
   text-align: center;
   border-radius: 0.2em;
}

.long_name {
    display: inline-block;
    margin: 0 auto;
    color: #313131;
}


.departure_time {
    float: right;
    padding-right: 0.2em;
    color: #313131;
}